/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
ul.bxslider {
  margin: 0;
  list-style: none; }

.bx-wrapper {
  position: relative;
  margin: 0 auto 30px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

* {
  box-sizing: border-box; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: auto; }

.row-fluid [class*="span"] {
  box-sizing: content-box; }

.header {
  margin-bottom: 15px; }

.header__logo {
  text-align: center; }
  .header__logo img {
    max-width: 250px;
    margin-top: 10px; }
  @media (min-width: 768px) {
    .header__logo {
      text-align: left; } }

.search-box {
  position: relative; }
  .search-box input {
    padding-left: 25px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-color: #cac3c0;
    border-radius: 2px; }
  .search-box .search-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    height: auto;
    pointer-events: none; }

/***** Navigation (Products dropdown) and tabs *****/
.menu {
  font-weight: 400;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px; }
  .menu a {
    font-weight: 400; }

#menutabs {
  margin-top: 0;
  margin-left: -26px;
  overflow: hidden;
  margin-bottom: 0; }

.menutab {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 6px;
  color: #8c7e78; }

.menutab a {
  color: #8c7e78; }

.innertab a {
  text-decoration: none; }

.menuheight {
  height: 48px; }

.menuunderline {
  border-bottom: 2px solid #fff; }

.menuunderline:hover {
  border-bottom: 2px solid #8c7e78; }

.nav_menuheader {
  height: 30px; }

#nav_products {
  height: 47px;
  text-decoration: none;
  z-index: 2000;
  border-bottom: 0px;
  text-align: left;
  cursor: pointer;
  margin-top: 0;
  margin-left: 0; }

#nav_products .productstab {
  height: 45px;
  margin-top: 2px; }

#nav_products #menutree,
#nav_products .dropspace {
  margin-top: 10px; }

some_nowhitespace {
  nowhitespace: afterproperty; }

/* push dropdown menu down from underneath PRODUCTS tab */
/* all this to create dropdown and popout menu effects */
#nav_products a {
  display: block;
  margin-right: 3px;
  padding: 0 0 0 0;
  text-decoration: none;
  z-index: 2000; }

#nav_products ul {
  border: none;
  line-height: 1;
  list-style: none;
  list-style-type: none;
  margin: 0px 0 0px 0px;
  padding-bottom: 20px;
  z-index: 2000; }

#nav_products ul a {
  z-index: 2000; }

#nav_products li {
  float: left;
  width: 10em;
  z-index: 2000;
  line-height: 19px !important;
  font-weight: 400; }

#nav_products #menutree li {
  margin-bottom: 0; }

#nav_products #menutree li a {
  width: 160px;
  background: #f2f0ef;
  border-bottom: 1px solid #cac3c0;
  cursor: pointer; }
  #nav_products #menutree li a:hover {
    background: #ef4036;
    color: white; }

#nav_products #menutree li:first-child > a {
  border-top: 1px solid #cac3c0; }

#nav_products li ul {
  left: -999em;
  position: absolute;
  width: 10em;
  height: 29px;
  z-index: 2000; }

#nav_products li ul ul {
  margin: -37px 0 0 160px;
  z-index: 2000; }

#nav_products ul li ul li a {
  font-weight: 400;
  padding: 8px 10px;
  width: 160px;
  border-bottom: 1px dotted #cccccc;
  z-index: 2000; }

#nav_products ul li ul li a:hover {
  border-bottom: 1px dotted #cccccc;
  z-index: 2000; }

#nav_products li:hover ul ul,
#nav_products li:hover ul ul ul,
#nav_products li.sfhover ul ul,
#nav_products li.sfhover ul ul ul {
  left: -999em;
  z-index: 2000; }

#nav_products li:hover ul,
#nav_products li li:hover ul,
#nav_products li li li:hover ul,
#nav_products li.sfhover ul,
#nav_products li li.sfhover ul,
#nav_products li li li.sfhover ul,
#nav_products li:hover ul,
#nav_products li:hover ul,
#nav_products li.sfhover ul,
#nav_products li:hover ul,
#nav_products li li:hover ul,
#nav_products li.sfhover ul,
#nav_products li li.sfhover ul {
  left: auto;
  z-index: 2000; }

#nav_products .arrow {
  margin: 1px 0 0 10px; }

.familylist ul {
  list-style-type: none; }
