* {
	box-sizing: border-box;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: auto;
}

.row-fluid [class*="span"] {
	box-sizing: content-box;
}

a {
	color: $link-color;
	cursor: pointer;
}

input[type=button], input[type=submit], button {
	background: $secondary-color;
	padding: 15px 40px;
	&:hover {
		background: $primary-color;
	}
}