.header {
	@media (min-width: $screen-md-min) {
		margin-bottom: 15px;
	}
}

.header__logo {
	text-align: center;
	img {
		max-width: 225px;
		margin-top: 10px;
		@media (max-width: $screen-sm-max) {
			width: 175px;
		}
	}
	@media (min-width: $screen-md-min) {
		text-align: left;
	}
}

.login {
	font-size: 12px;

	.fa {
		margin-right: 5px;
		transform: translateY(-1px);
	}

	@media (max-width: $screen-sm-max) {
		a {
			width: auto;
		}
	}
}

.breadcrumbs {
	padding: 3px 0 2px 0;
	font-family: $font-family-special;
	font-size: 10px;
	border-bottom: 1px solid $border-color-light;

	a {
		color: $text-color-light;
		&:hover {
			color: $primary-color;
		}
	}

	@media (max-width: $screen-sm-max) {
		margin-left: -10px;
		margin-right: -10px;
	}
}

.nobreadcrumb-spacer {
	border-bottom: 1px solid $border-color-light;
	margin-bottom: 10px;
	height: 27px;
	@media (max-width: $screen-sm-max) {
		margin-left: -10px;
		margin-right: -10px;
	}
}


// Mobile
#menubar-xs {
	.btn-navbar {
		background: $background-color-light;
	}
	.nav {
		font-family: $font-family-special;
	}
}