// Breakpoints

$screen-md-min: 768px;
$screen-sm-max: 767px;
$screen-lg-min: 960px;

$screen-sm-min: 560px;
$screen-xs-max: 549px;

// Widths
$container-width: 960px;

// Colors
$black: #000;

$primary-color: #ef4036;
$secondary-color: #8c7e78;
$secondary-color-dark: #4e4745;

$footer-color: #685f5c;
$footer-color-dark: #4e4745;

$background-color-light: #f2f0ef;
$border-color: #8c7e78;
$border-color-light: #cac3c0;

$link-color: #ef4036;
$text-color-light: #a4948d;


// Typography 
$font-family-special: 'Montserrat', sans-serif;
$font-family-serif: 'Merriweather', serif;