.button{
	@include font($fontMt,15px,#fff,500);
	text-decoration: none;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	&.border{
		border:4px solid #fff;
		@include sizeEx(300px,68px);
		line-height: 60px;
		&:hover,&:focus{
			color:#a6968f;
			border: 4px solid #fff;
			text-decoration: none;
			background: #fff;
		}

	}
	&.border-brown{
		border:4px solid #a6968f;
		@include sizeEx(300px,68px);
		line-height: 60px;
		color:#a6968f;
		background:none;
		&:hover,&:focus{
			border: 4px solid #A7968F;
			text-decoration: none;
			background:#a6968f;
			color:#fff;
		}
	}
	&.no-border{
		background: #a6968f;
		@include sizeEx(300px,68px);
		line-height: 69px;
		&:hover,&:focus{
			background:  #ef4036;
			text-decoration: none;
			color:#fff;
		}
	}
}
@media only screen and (max-width:1280px) {
	.button{
		font-size: 12px;
		&.no-border{
			@include sizeEx(265px,50px);
			line-height: 50px;
		}
		&.border{
			@include sizeEx(265px,50px);
			line-height: 45px;
		}
		&.border-brown{
			@include sizeEx(265px,50px);
			line-height:45px;
		}
	}
}
@media only screen and (max-width: $screen-sm){
	.button{
		font-size: 21px;
		&.no-border{
			@include sizeEx(382px,91px);
			line-height: 91px;
		}
		&.border{
			@include sizeEx(358px,88px);
			line-height: 85px;
		}
	}
}
@media only screen and (max-width: $screen-sm){
	.button{
		font-size: 16px;
		&.border{
			border:4px solid #fff;
			@include sizeEx(263px,70px);
			line-height: 65px;

		}
		&.no-border{
			background: #a6968f;
			@include sizeEx(305px,69px);
			line-height: 69px;
		}
	}
}