/* whatup */

.title-featured{
  margin-bottom:20px;
 }

/* Align vertical */
.align {
  display: table;
  width: 100%;
}
.align .vertical {
   display: table-cell;
  vertical-align: middle;
}

/* Bootstrap */
.row {
  padding-top: 30px;
}
.tabsPages .page.info ul,
.page-title .col-md-7 ul,
.page-title .col-md-12 ul {
  list-style: inherit;
  list-style-position: inside;
}
.tabsPages .page.info a,
.page-title .col-md-7 a,
.page-title .col-md-12 a  {
  text-decoration: underline;
}


/* .page-tile .breadcrumbs
================================================== */
.page-title h1 {
  font-size: 1.6875em;
}
.page-title h1.product-page {
  float: left;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .page-title h1 { 
    font-size: 1.475em; 
  }
}
.page-title .glyphicon  {
  font-size: 12px;
  top: -1px;
  float: left;
  margin-left: 5px;
  line-height: 24px;
}
.breadcrumbs, .breadcrumbs a {
  color: #797979;
  text-transform: uppercase;
  font-size: 12px;    
  text-decoration: none;
}
.breadcrumbs, .breadcrumbs a:hover {
  color: #414141;
}
@media (max-width: 767px) {
  .page-title h1 {
    margin-bottom: 0px;
  }
  .breadcrumbs {
    clear: both;
    text-align: left;
    margin-top: 5px;
  }

}

/* .slider
================================================== */
/* .headline */
.headline {
  margin-top: 30px;
  position: relative;
}
.headline.single {
  margin-bottom: 30px;
}
.headline .slider {
    border: 1px solid #e5e5e5;
}
.slider {
  width: 100%;
  position: relative;
    overflow: hidden;
}
.slider ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slider li {
    float: left;
}
.slider img {
    display: block;
    max-width: 100%;
    background-color: #f7f7f7;
    height: auto !important;
}
.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    background-color: #414141;
    opacity: 0.2;
    padding: 5px 6px 5px 5px;
}
.headline:hover .slider-prev,
.headline:hover .slider-next,
.brands:hover .slider-prev,
.brands:hover .slider-next {
  opacity: 1;
}
.slider-prev {
    left: 26px;
}
.slider-next {
    right: 26px;
}
.slider-pagination {
  width: 100%;
  text-align: center;
  line-height: 0px;
  margin: 20px 0px;
}
.slider-pagination a {
  display: inline-block;
    height: 12px;
    width: 12px;
    background: #414141;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
    text-indent: -9999px;
    margin: 0px 6px;
    padding: 0px;
    border: 1px solid #54afe9;
}
.slider-pagination a.active {
    background: #54afe9;
}

/* .brands */
.brands {
  position: relative;
}
.brands .slider li {
  width: 285px;
  margin-right: -1px;
    border: 1px solid #e5e5e5;
}
.brands .slider-prev,
.brands .slider-next {
  margin-top: -14px;
}
@media (max-width: 767px) {
  .brands {
    display: none;
  }
}
@media (max-width: 992px) {
  .brands .slider li {
    width: 241px;
  }
  .brands { 
    margin: 0px 0px 30px 0px;
  }
  .slider-prev,
  .slider-next {
    opacity: 1;
  }
}

/* .categories
================================================== */
.categories .category {
  border: 1px solid #e5e5e5;
  margin: 0px -1px -1px 0px;
  padding: 0px;
  position: relative;
  background-color: white;
}
.categories .category img {
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
}
.categories .category div {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 15px 19px;
}
.categories .category span {
  background-color: #414141;
  color: white;
  text-transform: uppercase;
  line-height: 22px;  
}
@media (min-width: 992px) {
  .categories .category.hover span,
  .categories .category.hover img {
    opacity: 0.6;
  }
}
.categories .category span.title {
  position: relative;
  margin-top: 15px;
  font-size: 16px;
  box-shadow: -4px 0 0 0 #414141, 4px 0 0 0 #414141;
  margin-left: 4px;
}
.categories .category span.amount {
  position: absolute;
  bottom: 15px;
  right: 19px;
  font-size: 12px;
  padding: 0px 4px 0px 5px;
}
.categories .category span.amount .glyphicon {
  font-size: 10px;
  margin-right: 4px;
  opacity: 1;
  vertical-align: 1px;
}
@media (max-width: 992px) {
  .categories .category div {
    padding: 11px 14px;
  }
  .categories .category span.amount {
    bottom: 11px;
    right: 14px;
  }
}

/* .products
================================================== */
.products .col-md-10 {
  padding-right: 0px;
}
.products .col-md-10 .no-products-found {
  padding: 0px 15px;
  font-style: italic;
}
@media (max-width: 992px) {
  .products .col-md-10 {
    padding-left: 0px;
  }
}
.products .product {
  margin-bottom: 30px;
}
.products .product a {
  color: #f7f7f7;
  text-decoration: none;
}
.products .product .image-wrap img {
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-bottom: 0px;
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
}
.products .product .image-wrap {
  position: relative;
}
.products .product .image-wrap .sale-new {
  position: absolute;
  background-color: #414141;
  padding: 5px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  top: 15px;
  left: 15px;
  z-index: 1;
  text-transform: uppercase;
}
.sale-new.right {
  right: 15px;
  left: inherit !important;
}


.products .product .image-wrap .description {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgb(65, 65, 65);
  background-color: rgba(65, 65, 65, 0);
  height: 0px;
  overflow: hidden;
  color: #f7f7f7;
  font-size: 12px;
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  z-index: 2;
  line-height: 20px;
}
.products .product .image-wrap .description .text {
  overflow: hidden;
  padding: 0px 10px;
}
.products .product .image-wrap .description .stars {
  margin-bottom: 3px;
}
.products .product .image-wrap .cart {
  display: inline-block;
  position: relative;
  margin: auto;
  padding: 0px 4px;
  text-transform: uppercase;
  border: 1px solid;
  margin-top: 10px;
  text-decoration: none;
  color: #54afe9;
}
.products .product .image-wrap:hover .description {  
  height: 100%;
  background-color: rgba(65, 65, 65, 0.8);
  padding: 20px;    
}
.products .product .info {
  padding: 11px 15px 15px 15px;
  border: 1px solid #e5e5e5;
  min-height: 88px;
}
.products .product .info .title {
  text-decoration: none;
  color: #414141;
  font-weight: 600;
  line-height: 20px;
  display: block;
  max-height: 40px;
  overflow: hidden;
}
.products .product .info .old-price {
  text-decoration: line-through;
  color: #797979;
  font-size: 12px;
}
.products .product .info.strict {
  height: auto;
  overflow: auto;
}
.products .product .info.strict .unit-price {
  display: block;
  clear: both;
} 
@media (max-width: 1025px) {
  .products .product .image-wrap .description {
    display: none;
  }
  .products .product .image-wrap .description .text {
    padding: 0px;
  }  
}

/* .sidebar
================================================== */
.sidebar {
  color: #797979;
  margin-bottom: 20px;
}
.sort {
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
}
.sidebar strong {
  display: block;
  padding-top: 10px;
}

/* .price-filter */
.price-filter {
  padding-bottom: 40px;
}
.price-filter-range {
  font-size: 10px;
}
#collection-filter-price {
  height: 12px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 3px 4px 8px 8px;
  position: relative;
}
#collection-filter-price .ui-slider-range {
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  margin: -1px 0 0 -1px;
  position: absolute;
  height: 12px;
}
#collection-filter-price .ui-slider-handle {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 0;
  top: -3px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-left: -10px;
  cursor: col-resize;
  border: 1px solid #ccc;
  background-color: white;
  outline: none;
}
.price-filter-range .min {
  float: left;
}
.price-filter-range .max {
  float: right;
}

/* select */
.sidebar select {
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
}

/* nav */
.sidebar .item {
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  padding: 0px 0px 10px 0px;
}
.sidebar .item .itemLink {
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
}
.sidebar .item .itemLink, .sidebar .item .subitemLink {
  color: #797979;
  text-decoration: none;
}
.sidebar .item .itemLink:hover, .sidebar .item .subitemLink:hover {
  color: #414141;
}
.sidebar .item .active, .sidebar .item .active:hover {
  color: #54afe9;
}
.sidebar .item .subnav .subnav {
  margin: 5px 0px 5px 10px;
}
@media (max-width: 992px) {
  .sort {
    padding-bottom: 0px;
    border-bottom: 0px;
  }
  .price-filter {
    display: none;
  }
  .sidebar {  
    margin-bottom: 30px;  
    margin-top: -15px;
  }
  .sidebar .item {
    display: none;
    padding-top: 10px;
    padding-bottom: 25px;    
  }
  .sidebar .item.active {
    display: block;
  }
  .sidebar .item .itemLink {
    margin-top: 5px;
  }  
}
@media (max-width: 767px) {
  .sidebar .item {
    border-bottom: 0px;
  }
  .sidebar {
    border-bottom: 1px solid #f0f0f0;
  }
}

/* .pager
================================================== */
.pager {
  font-size: 12px;
  color: #797979;
  margin: 0px;
  padding-top: 0px;
}
.pager .left {
  font-size: 12px;
}
.pager ul {
  border: 1px solid #e5e5e5;
}
.pager ul li {
  display: inline;
}
.pager ul li a {
  color: #797979;
  float: left;
  padding: 5px 13px;
  line-height: 20px;
  text-decoration: none;
  border-right: 1px solid #f0f0f0;
}
.pager ul li a:hover {
  color: #414141;
}
.pager ul li a .glyphicon {
  font-size: 10px;
  line-height: 18px;
}
.pager ul li:last-child a {
  border-right: 0px;
}
.pager ul li.active a {
  background-color: #f7f7f7;
}
.pager ul li.prev a {
  border-left-width: 1px;
}
.pager ul li.disabled {
  display: none;
}
/* .tabs */
.product-tabs {
  padding-top: 0px;
  border-top: 1px solid #f0f0f0;
}
.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tabs ul li {
  float: left;
  width: 33.33%;
}
.tabs ul li.col-2 {
  width: 50%;
}
.tabs ul li a {
  color: #444;
    border: 1px solid #f0f0f0;
    border-top:0;    
    border-right:0;
    display: block;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}
.tabs ul li:first-child a {
  border-left: 0px;  
}
.tabs ul li.active a {
    border-bottom-color: transparent;
    font-weight: 600;
}
.tabs ul li.active a small {
  font-weight: normal;
}
.tabsPages {
    width: 100%;
}
.tabsPages .page {
  clear: both;
  display: none;
  min-height: 160px;
  overflow: auto;
  padding: 15px;
  width: 100%;
  &.no-tabs {
    max-height: none !important;
  }
}
.tabsPages .page.active {
    display: block;
}
.tabsPages .page.info .details {
  margin-bottom: 20px;
}
.tabsPages .page.info .details tr td {
  padding-right: 10px;
  font-style: italic;  
}
.tabsPages .page.info .details .out-of-stock {
  color: rgb(235, 97, 97);
}

/* .reviews */
.tabsPages .page.reviews .review {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}
.tabsPages .page.reviews .stars {
  font-size: 10px;
  float: right;
}
.tabsPages .page.reviews .bottom {
  font-size: 12px;
}

/* .tags-actions */
.product-actions {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin: 0px;
}
.product-actions .social-media {
  line-height: 0px;
}
.product-actions .social-media .social-block {
  float: left;
  margin: 0px 15px 0px 0px;
}
.product-actions .tags-actions {
  padding-top: 0px;
  font-size: 12px;
  color: #797979;
  margin-right: 0px;
}
.product-actions .tags {
  padding-right: 0px;
}
.product-actions .tags h2 {
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
  line-height: inherit;
  display: inline;
}
.product-actions .tags-actions .actions {
  padding-right: 0px;
}
.product-actions .tags-actions .actions a {
  color: #797979;
}
.product-actions .tags-actions .actions a:hover {
  color: #414141;
}
@media (max-width: 992px) {
  .product-actions .social-media {
    padding-left: 0px;
  }
  .product-actions  .tags-actions .actions {
    text-align: left;
    margin-top: 15px;
  }
  .product-actions .social-media {
    margin-bottom: 15px;  
  }
  .product-actions .tags, .product-actions .actions {
    margin-left: -15px;
  }
}
@media (max-width: 767px) {
  .tabsPages .page { 
    max-height: 160px !important;
  }
  .product-actions, .product-info .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .product-actions .tags, .product-actions .actions {
    margin-left: 0px;
  }
  .product-actions .social-media {
    padding-left: 15px;
  }
}

/* .related */
.related h3 {
  margin-bottom: 25px;
}
/*.related .product {
        width: 20%;
        *width: 20%;
}*/

@media (max-width: 767px){
    .related .product .bundle-actions {
    width: 50%;
    *width: 50%;
  }
}

/* footer
================================================== */
footer {
  background-color: #414141;
  color: #f7f7f7;
}
footer a, footer .links a {
  color: #f7f7f7;
}
footer .row {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer hr {
  border-color: black;
  opacity: 0.085;
}
footer input[type="text"] {
  border-color: rgba(0, 0, 0, 0.085);
}

/* .social */
footer .newsletter {
  line-height: 0px;
}
footer .newsletter .title {
  display: block;
  line-height: 21px;
  float: left;
  font-weight: 600;
  font-size: 18px;
  margin: 5px 15px 5px 0px;
}
footer form {
  line-height: 0px;
  display: inline-block;
}
footer form input {
  display: inline-block;
  vertical-align: top;
}
footer form .btn {
  overflow: hidden;
  margin-top: -1px;
  line-height: 28px;
}
footer form .btn:hover span {
  opacity: 0;
}
footer form .btn::before {
  left: 0;
  top: -50px;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  text-align: center;
}
footer form .btn:hover::before {
  top: 2px;
}
footer .contact-description {
  display: block;
  padding-bottom: 10px;
}
footer .contact .glyphicon {
  margin-right: 10px;
}

/* .social-icons */
.social-media {
  line-height: 0px;
}
.social-media .social-icon {
  display: inline-block;
    background-image: url(social-icons.png);
    background-repeat:no-repeat;
    overflow:hidden;
    width:32px;
    height:32px;
    opacity: 0.7;
}
.social-media .social-icon:hover {
  opacity: 1;
}
.social-media .social-icon.facebook { background-position: 0px 0px; }
.social-media .social-icon.twitter { background-position: -32px 0px; }
.social-media .social-icon.google { background-position: -64px 0px; }
.social-media .social-icon.pinterest { background-position: -96px 0px; }
.social-media .social-icon.youtube { background-position: -128px 0px; }
.social-media .social-icon.tumblr { background-position: -160px 0px; }
.social-media .social-icon.instagram { background-position: -192px 0px; }

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) { 
  .social-media .social-icon {
      background-image: url(social-icons-2x.png);
      background-size: cover;
  }
}

@media (max-width: 767px) {
  footer a {
    line-height: 25px
  }
  footer form {
    margin: 10px 0px;
  }
  footer .links ul {
    margin-bottom: 15px;
  }
  footer .contact {
    margin-bottom: 5px;
  }
  footer .newsletter .title {
    margin: 0px 0px 15px 0px;
    float: none;
  }
  footer .newsletter input {
    max-width: 160px;
  }
  footer form .btn {
    line-height: 37px;
  }
  footer .social-media, footer .newsletter {
    text-align: center;
  }
  footer .social-media {
    margin-top: 15px;
  }
}
footer .hallmarks {
  margin-top: 30px;
}
/* .copyright-payment */ 
.copyright-payment {
  color: #6c6c6c;
  font-size: 12px;
  background-color: #3d3d3d;
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright-payment .row {
  padding-top: 0px;
  padding-bottom: 0px;
}
.copyright-payment .copyright {
  opacity: 0.4;
}
.copyright-payment .copyright a {
  color: #969696;
  opacity: 0.7;
}
.copyright-payment .payments {
  line-height: 12px;
}
.copyright-payment .payments img {
  display: inline-block;
  height: 22px;
  width: auto;
  line-height: 35px;
  margin-left: 7px;
}

/* DE */
.strict-shipping {
  padding-top: 0px;
}
.shipping-cost {
  display: block;
  text-align: right;
  width: 100%;
}
.shipping-cost.collection {
  margin-bottom: 30px;
}

/* GUI
================================================== */
.gui {
  margin-top: 30px;
}
.gui a.gui-button-large,
.gui a.gui-button-small,
.gui-block,
.gui-block.gui-closed .gui-block-title,
.gui-block-option,
.gui-block-option img.gui-border,
.gui-block-option-block,
.gui-block-title span,
.gui-image,
.gui-input,
.gui-text,
.gui-messages ul,
.messages ul,
.gui-number,
.gui-popover,
.gui-popover-bg,
.gui-popover-content,
.gui-popover-title a,
.gui-select,
.gui-table,
.gui-block-content .gui-mask,
.gui-block-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.gui .gui-progressbar {
  background-color: transparent;
}
.messages {
  margin-top: 30px;
  margin-bottom: 0px !important;
}
/* BUNDLES
================================================== */

.bundleproductinfo h3 {
  font-size: 14px;
}
.bundle h3 {
    margin-bottom: 25px;
}
.glyph-bundle{ 
  position: absolute;
  top: 60px;
  margin-left: -21px;
}
.bundlecart{
  width:16.666667%;
}
.bundleproductinfo{
  height:60px; 
}
.bundleproductinfo a {
    max-height: 70px !important;
}

.bundleproductinfo p {
    margin-top: -6px;
    font-size: 12px;
}

.line-through {
  text-decoration: line-through;
}
@media (max-width: 767px){
  .bundle{
   display:none;
}
}
@media (max-width: 992px){
.product:nth-child(5) > .glyph-bundle{  
    display:none;
}
}

/* Collapsing footer */
span.glyphicon.glyphicon-chevron-down{
  display:none;
  }

@media (max-width: 480px) { 
  .collapse{
  display:block;
  margin-bottom:10px;
}
.collapse + input{
  display:none;
}
.collapse + input + *{
  display:none;
}
.collapse+ input:checked + *{
  display:block;
}
.collapse{
  cursor:pointer;
}


span.glyphicon.glyphicon-chevron-down {
    float: right;
    display: inline-block;
    font-size: 10px;
    margin-top:5px;
}
}
.collapse {
    color: inherit;
}

.glyphicon-chevron-down {
    color: inherit;
}
.collapse_input{
  visibility:hidden;
}
.collapse strong {
    font-size: 16px;
}

/* block-subtitle */
.gui-block-subtitle,
.gui-content-subtitle {
  min-height: 30px;
  height:auto!important;
}


/* lightbox */
/**
 * Featherlight â€“ ultra slim jQuery lightbox
 * Version 1.7.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, NoÃ«l Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight {
		display: none;
		transition: none;

		/* dimensions: spanning the background from edge to edge */
		position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 2147483647; /* z-index needs to be >= elements on the site. */

		/* position: centering content */
		text-align: center;

		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;
		/* styling */
		cursor: pointer;
		background: #333;
	}

	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(0, 0, 0, 0.8);
	}

	.featherlight:before {
		/* position: trick to center content vertically */
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.featherlight .featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;

		/* position: centering vertical and horizontal */
		text-align: left;
		vertical-align: middle;
		display: inline-block;

		/* dimensions: cut off images */
		overflow: auto;
		/* dimensions: handling large content */
		margin-left: 20px;
		margin-right: 20px;
		max-height: calc(100% - 20px);

		/* styling */
		background: #fff;
		cursor: auto;

		/* reset white-space wrapping */
		white-space: normal;
	}

	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block;
	}

	.featherlight .featherlight-close-icon {
		/* position: centering vertical and horizontal */
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;

		/* dimensions: 25px x 25px */
		line-height: 25px;
		width: 25px;
		height: 25px;

		/* styling */
		cursor: pointer;
		text-align: center;
		font-family: Arial, sans-serif;
		background: #fff; /* Set the background in case it overlaps the content */
		background: rgba(255, 255, 255, 0.3);
		color: #000;
		border: none;
		padding: 0;
	}

	/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
	.featherlight .featherlight-close-icon::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	.featherlight .featherlight-image {
		/* styling */
		width: 100%;
	}


	.featherlight-iframe .featherlight-content {
		/* removed the border for image croping since iframe is edge to edge */
		border-bottom: 0;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
	}

	.featherlight iframe {
		/* styling */
		border: none;
	}

	.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 0;
		margin-right: 0;
		max-height: calc(100% - 10px);
	}
}

/**
 * Featherlight Gallery â€“ an extension for the ultra slim jQuery lightbox
 * Version 1.7.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, NoÃ«l Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight-next,
	.featherlight-previous {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 80%;
		cursor: pointer;
		/* preventing text selection */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		/* IE9 hack, otherwise navigation doesn't appear */
		background: rgba(0,0,0,0);
	}

	.featherlight-previous {
		left: 0;
		right: 80%;
	}

	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: rgba(0,0,0,0.25);
	}


	.featherlight-next span,
	.featherlight-previous span {
		display: none;
		position: absolute;

		top: 50%;
		left: 5%;
		width: 82%;

		/* center horizontally */
		text-align: center;

		font-size: 25px;
		line-height: 25px;

		/* center vertically */
		margin-top: -12.5px;
		color: rgba(255,255,255,.5);
		font-style: normal;
		font-weight: normal;
	}
	.featherlight-next span {
		right: 5%;
		left: auto;
	}


	.featherlight-next:hover span,
	.featherlight-previous:hover span {
		display: inline-block;
	}

	.featherlight-swipe-aware .featherlight-next,
	.featherlight-swipe-aware .featherlight-previous {
		display: none;
	}

	/* Hide navigation while loading */
	.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
		display:none;
	}
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px){
	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: none;
	}
	.featherlight-next span,
	.featherlight-previous span {
		display: block;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight-next,
	.featherlight-previous {
		left: 85%;
	}

	.featherlight-previous {
		left: 0;
		right: 85%;
	}
}


/* Colors
================================================== */
/* Highlight color */
a, 
a:visited,
a:hover, 
a:focus,
.desktop nav .item.active .itemLink,
nav .glyphicon-remove,
.sidebar .item .itemLink.active, 
.sidebar .item .itemLink.active:hover,
.sidebar .item .subitemLink.active, 
.sidebar .item .subitemLink.active:hover,
footer .social-media .symbol:hover,
.products .product .image-wrap .cart,
.sidebar .item .active, 
.sidebar .item .active:hover,
.slider-prev:hover span, .slider-next:hover span {
  // color: {{ theme.highlight_color }};
}

/* Highlight border-color */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
.products .product .image-wrap .cart,
.slider-pagination a {
  // border-color: {{ theme.highlight_color }};
}

/* Highlight background-color */
a.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.navigation .burger.open li,
.slider-pagination a.active {
  // background-color: {{ theme.highlight_color }};
}

/* Button color */
a.btn, 
a.btn span {
  // color: {{ theme.button_color }};

}

/* Body background-color
================================================== */
body,
.slider-pagination a {
  // background-color:{{ theme.background_color }};
}
/* Ligtgrey background-color */
.products .product .info,
#collection-filter-price .ui-slider-handle {
  // background-color: {{ theme.background_color | color_mix('#FFFFFF', 0.07) }};
}
.slider img, 
.products .product .image-wrap img, 
.categories .category img, 
.zoombox .images a img, .zoombox .thumbs a img {
  // background-color: {{ theme.background_color | color_mix('#000000', 0.03) }};
}

/* Lightborder */
.sort,
.sidebar .item,
.pager ul li a,
.product-info .product-option,
.product-info .product-price,
.product-tabs,
.tabs ul li a,
.product-actions,
hr,
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select,
.headline .slider,
.brands .slider li,
.hallmarks .slider li,
.categories .category,
.products .product .image-wrap img,
.products .product .info,
#collection-filter-price,
#collection-filter-price .ui-slider-range,
#collection-filter-price .ui-slider-handle,
.pager ul,
.zoombox .images,
.zoombox .thumbs a,
.product-info .product-price .cart .change,
.tabsPages .page.reviews .review {
  // border-color: {{ theme.background_color | color_mix('#000000', 0.08) }};
}

/* Body color
================================================== */
/* general color */
body,
.products .product .info .title,
.product-info .product-price .cart .change a {
  // color: {{ theme.color }};
}

/* lighter color */
small,
.breadcrumbs, .breadcrumbs a,
.products .product .info .old-price,
.sidebar,
.sidebar .item .itemLink, 
.sidebar .item .subitemLink,
.pager,
.pager ul li a,
.product-info .product-price .old-price,
.product-actions .tags-actions,
.product-actions .tags-actions .actions a,
.tabs ul li a,
label,
legend,
label span,
.tabsPages .page.reviews .bottom,
.product-actions .tags-actions {
  // color: {{ theme.color | color_mix('#ffffff', 0.08) }};
}

/* darker color */
.breadcrumbs a:hover,
.sidebar .item .itemLink:hover, .sidebar .item .subitemLink:hover,
.pager ul li a:hover,
.product-actions .tags-actions .actions a:hover,
.product-info .product-price .cart .change a:hover {
  // color: {{ theme.color | color_mix('#000000', 0.08) }};
}

/* Element color
================================================== */
/* header */
header,
header a,
.desktop nav ul a, .desktop nav ul a:visited,
.desktop nav .item .itemLink,
.desktop nav .subnav .subitem .subitemLink:hover {
  // color: {{ theme.header_color }};
}
.navigation .burger li {
  // background-color: {{ theme.header_color }};
}
header,
.navigation {
    // background-color: {{ theme.header }};
}
header,
header input[type="text"],
.desktop nav .subnav .subitem,
.desktop nav .item.hover .itemLink,
.desktop nav .subnav {
  // border-color: {{ theme.header | color_mix('#000000', 0.08) }};
}
.desktop nav .item.sub.hover .itemLink,
.desktop nav .item.hover .itemLink,
.desktop nav .subnav .subitem {
  // background-color: {{ theme.header | color_mix('#FFFFFF', 0.07) }};
}
.desktop nav .subnav .subitem .subitemLink:hover {
  // background-color: {{ theme.header | color_mix('#000000', 0.03) }};
}  

/* Topbar */
.topnav {
  // background-color: {{ theme.topbar }};
}
.topnav, 
.topnav a {
  // color: {{ theme.topbar_color }};
}
.topnav {
  // border-color: {{ theme.topbar | color_mix('#000000', 0.07)}};
}

/* footer */
footer,
.slider-prev,
.slider-next,
.categories .category span,
.products .product .image-wrap .new {
  // background-color: {{ theme.footer }};
}
.categories .category span.title {
  // box-shadow: -4px 0 0 0 {{ theme.footer }}, 4px 0 0 0 {{ theme.footer }};
}
.categories .category span,
nav .glyphicon-play,
.products .product .image-wrap .description,
footer,
footer a, 
footer .links a,
.slider-prev span,
.slider-next span,
.copyright-payment .copyright,
.copyright-payment .copyright a,
.products .product .image-wrap .new {
  // color:{{ theme.footer_color }};
}

/* copyright */
.copyright-payment {
  // background-color: {{ theme.footer | color_mix('#000000', 0.07)}};
}

/* element color */ 
.product-info .product-price .cart .change, 
#collection-filter-price .ui-slider-range,
.pager ul li.active a {
  // background-color: {{ theme.element_color }};
}

@media (max-width: 767px) {
  nav .item .itemLink, 
  nav .subitem .subitemLink,
  #formSearch,
  header input[type="text"] {
    // color:{{ theme.footer_color }};
    // border-color: {{ theme.footer | color_mix('#000000', 0.08) }};
  }
  nav,
  nav .item.view-subnav {
    // background-color: {{ theme.footer }};
  }
  .wrapper {
    // background-color:{{ theme.background_color }}; 
  } 
  .navigation .logo, .navigation .burger {
    // background-color: {{ theme.header }};
    // border-color: {{ theme.header | color_mix('#000000', 0.08) }}; 
  }
}