.account-page h1 {
	font-family: $font-family-special;
}

.account-page h2 {
	font-family: $font-family-special;
	font-size: 20px;
}

.account-page > .span12 {
	margin-left: 0;
}

#orderdisplay fieldset {
	border-bottom: 0;
	margin-bottom: 45px;
}

.myaddress a {
	color: $text-color;
	&:hover {
		color: $text-color-light;
	}
}

.myaddress {
	height: auto;
}

#wishlist-info {
	clear: both;
}

#checkout fieldset {
	border-bottom: 0;
	margin-bottom: 20px;
}