.cart_quantity {
	display: none;
}

.cart_price {
	font-size: 16px;
}

.layout-col1, .layout-custompage {


	.sidecart {
		text-align: right;
	}

	.sidecart .title {
		display: none;
	}

	.minicart_item {
		display: none;
	}

	.subtotallabel {
		display: none;
	}

	.sidecart-top {
		display: inline-block;
		float: left;
	}

	#shoppingcartbottom {
		display: inline-block;
		white-space: nowrap;

		.cart_label {
			display: none;
		}
		.cart_price, .cart_quantity {
			display: inline-block;
			width: auto;
			text-transform: lowercase;
			float: none;
		}

		.cart_quantity {
			color: $secondary-color;
		}
	}
}

#shoppingcart {
	padding: 0 0;

	.title {
		float: right;
	}
}

#shoppingcart .fa-shopping-cart {
	color: $secondary-color;
	font-size: 22px;
	margin-top: -2px;
	&:hover {
		color: $primary-color;
	}

}

.minicart_item {
	text-transform: none;
	margin-left: 0;
	font-size: 12px;
	padding: 5px 0;

	border-bottom: 1px solid $border-color-light;

	&:first-child {
		border-top: 1px solid $border-color-light;
	}
	a {
		color: #333333;
	}
}

#cartline1 {
	border-top: 1px solid $border-color-light;
}

.minicart_desc {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.4;
}
.minicart_qty {
	font-size: 10px;
}
.minicart_price {
	text-align: right;
}

.cart-item td {
	padding: 10px 4px;
	border-bottom: 1px solid $border-color-light;
}

#genericcart .cart-item {
	&:first-child td {
		border-top: 1px solid $border-color-light;
	}
	&:nth-child(odd) td {
		background: $background-color-light;

	}
}

#genericcart input[type="text"], #genericcart input[type="text"]:focus {
    font-size: 1.1em;
    margin-bottom: 0;
    border: 3px;
    border: 1px solid $border-color-light;
    text-align: center;
    padding: 2px;
    width: 80px;
    border-radius: 4px;
    box-shadow: none;
}

#genericcart .cart_header.cart_qty {
    padding-left: 25px;
}

#genericcart .cart_header {

	font-family: $font-family-special;
	padding-bottom: 10px;

	&.cart_total {
		text-align: right;
	}
}

.cart-buttons {
	text-align: right;
	& > span {
		margin-left: 10px;
	}
}