
.minicart__preview {
	display: none;
	text-transform: lowercase;
	> div {
		display: inline-block;
	}

	.cart_quantity {
		color: $secondary-color;
	}

	.cart_price {
		margin-left: 5px;
	}
}

.cart_price {
	font-size: 16px;
}

.layout-col1, .layout-custompage {
	.minicart__preview {
		display: inline-block;
	}

	.sidecart {
		text-align: right;
	}

	.sidecart .title {
		display: none;
	}

	.minicart_item {
		display: none;
	}

	.subtotallabel {
		display: none;
	}

	#shoppingcartbottom {
		display: none;
	}

	.minicart__preview .title {
		display: inline-block;
		text-transform: uppercase;
	}
}

.sidecart-icon {
	float: left;
}

.shopping-cart__header {
	text-align: right;
	padding-bottom: 5px;
	border-bottom: 1px solid $border-color-light;
}

#shoppingcart {
	padding: 0 0;

	.title {
		font-family: $font-family-special;
	}
}

#shoppingcart .fa-shopping-cart {
	color: $secondary-color;
	font-size: 22px;
	margin-top: -2px;
	&:hover {
		color: $primary-color;
	}

}

.minicart_item {
	text-transform: none;
	margin-left: 0;
	font-size: 12px;
	padding: 10px 0;
	border-top: 1px solid $border-color-light;

	&:first-child {
		margin-top: 15px;
		border-top: 0;
	}

	a {
		color: #333333;
	}
}

#cartline1 {
	border-top: 1px solid $border-color-light;
}

.minicart_desc {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.4;
}
.minicart_qty {
	font-size: 10px;
}
.minicart_price {
	text-align: right;
}

.cart-item td {
	padding: 10px 4px;
	border-bottom: 1px solid $border-color-light;
}

#genericcart .cart-item {
	&:first-child td {
		border-top: 1px solid $border-color-light;
	}
	&:nth-child(odd) td {
		background: $background-color-light;

	}
}

#genericcart input[type="text"], #genericcart input[type="text"]:focus {
    font-size: 1.1em;
    margin-bottom: 0;
    border: 3px;
    border: 1px solid $border-color-light;
    text-align: center;
    padding: 2px;
    width: 80px;
    border-radius: 4px;
    box-shadow: none;
}

#genericcart .cart_header.cart_qty {
    padding-left: 25px;
}

#genericcart .cart_header {

	font-family: $font-family-special;
	padding-bottom: 10px;

	&.cart_total {
		text-align: right;
	}
}

.cart-buttons {
	text-align: center;
	& > span {
		margin-left: 10px;
	}

	a:focus {
		outline: none;
	}
}

#shoppingcartbottom {
	margin-top: 10px;
	margin-bottom: 25px;
	.cart_label {
		font-family: $font-family-special;
	}
	.cart_price {
		span {
			float: right;
		}
	}
}

.sidecart__buttons {
	a {
		padding: 10px !important;
		margin-bottom: 10px;
	}
}