.footer-top {
    font-family: $font-family-special;
    font-size: 11px;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;

    #container {
    	background: $background-color-light;
    	padding-top: 15px;
    	padding-bottom: 15px;
    }
}

#footer {
	color: $secondary-color;
	 a {
    	color: $secondary-color;;
    	&:hover {
    		color: $secondary-color-dark;
    	}
    }

    .bottomtabs {
        text-align: left;
    }
}
.footer-middle {
	text-align: center;
}

#footer .footer-top .span12 {
	margin: 0;
	padding: 0;
}

.footer__owner {
	font-size: 16px;
}

#footer .addresshours {
	margin: auto;
	line-height: 1.4;
}

#denverinfo {
	@media (min-width: $screen-md-min) {
		text-align: right;
	}
}
.footer-bottom {
	padding: 20px 0 10px;
    font-family: $font-family-special;
    font-size: 11px;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}
.footer__bottom {
	margin: auto;
}

#footer .social {
    font-size: 18px;
    text-align: right;

    a {
        width: 20px;
    }

    a:focus {
        outline: none;
    }

    .fa-facebook:hover {
        color: #3B5998;
    }
    .fa-twitter:hover {
        color: #00aced;
    }
    .fa-instagram:hover {
        color: #517fa4;
    }

    > span {
        margin-left: 10px;
    }
}