.search-box {
	position: relative;
	text-align: center;

	input {
		padding-left: 20px;
		width: 100% !important;;
		box-sizing: border-box;
		margin: 0;
		border-color: $border-color-light;
		border-radius: 2px;

		&::placeholder {
			color: $border-color-light;
		}
	}

	form {
		margin-bottom: 10px;
		position: relative;
		@media (max-width: $screen-sm-max) {
			display: inline-block;
			margin-bottom: 0;
		}
	}
	.search-icon {
		color: $border-color-light;
		position: absolute;
		left: 5px;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
		height: auto;
		pointer-events: none;
	}
}