
/* Buttons */
a.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #54afe9;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  line-height: 32px;
  height: 32px;
  padding: 0px 8px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  text-decoration: none;
}
a.btn.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; 
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a.btn span,
button span,
input[type="submit"] span,
input[type="reset"] span,
input[type="button"] span {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
@media (max-width: 767px) {
  a.btn,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    line-height: 37px;
    height: 40px;
  }
}