@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .container {
        width: 100% !important;
        max-width: 970px !important;
    }
}

@media (min-width: $screen-xl-min) {
    .container--large {
        width: 100% !important;
        max-width: 1440px !important;
    }
}

.content {
    margin-bottom: 60px;
}

.flex-half {
    @media (min-width: $screen-md-min) {
        display: flex;
        > * {
            flex-grow: 1;
            width: 50%;
        }
    }
}

.flex-half--small {
    @media (min-width: $screen-sm-min) {
        display: flex;
        > * {
            flex-grow: 1;
            width: 50%;
        }
    }
}

.flex-center {
    align-items: center;
}

.no-bottom-space {
    margin-bottom: -60px;
}

.content-block.content-block {
    padding: 25px 20px;
    @media (max-width: $screen-xs-max) {
        padding-left: 10px;
        padding-right: 10px;
    }
    .button {
        border-width: 4px;
    }
    &.block-left {
        padding-left: 0;
    }
    h2 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 3px;
        color: $color-background-dark;
        line-height: 40px;
        margin-bottom: 20px;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 118px;
            height: 4px;
            background: $color-primary;
            bottom: -10px;
        }
    }
    p {
        font-family: $font-family-serif;
        line-height: 2.4;
        margin-bottom: 20px;
    }
}

.container .content-block {
    @media (max-width: $screen-xs-max) {
        padding-left: 0;
        padding-right: 0;
    }
}

.full-width .content-block {
    @media (max-width: $screen-xs-max) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.full-width .container .content-block {
    @media (max-width: $screen-xs-max) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.flex-half > * .content-block {
    @media (min-width: $screen-md-min) {
        max-width: 650px;
        margin: 0 auto;
    }
}

.content-block-center {
    text-align: center;
    h2:after {
        left: 50%;
        transform: translateX(-50%);
    }
    p {
        margin: 40px 0;
    }
}

.table {
    display: table;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.half-width {
    margin-right: calc(50% - 50vw);
    width: 50vw;
}

.info-block {
    text-align: center;
    background: #fafafa;
    @extend .full-width;
    padding: 55px 0 25px;
    .button {
        border-width: 4px;
    }
    .info-block__content {
        max-width: 970px;
        margin: 0 auto;
        padding: 0 15px;
        h1,
        h2 {
            font-size: 24px;
            margin-bottom: 40px;
            color: $color-background-dark;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            letter-spacing: 2px;
            &:after {
                position: absolute;
                width: 118px;
                height: 4px;
                background: #ef4036;
                bottom: -10px;
                left: 50%;
                margin-left: -59px;
                content: "";
            }
        }
        p {
            font-family: $font-family-serif;
            font-size: 16px;
            line-height: 2.4;
            margin-bottom: 50px;
        }
    }
}

.image-half {
    height: 33vh;
    background-size: cover;
    @media (min-width: $screen-md-min) {
        height: auto;
    }
}

@media (max-width: $screen-mobile-max) {
    .info-block {
        .info-block__content {
            h1,
            h2 {
                font-size: 22px;
            }
            p {
                font-size: 14px;
                line-height: 2;
                margin-bottom: 20px;
            }
        }
    }
}
