/* Breakpoints */

$screen-xl-min: 1480px;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-min: 480px;

$screen-mobile-max: ($screen-xs-min - 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

/* Colors */

$color-primary: #ef4036;
$color-text-brown: #685f5c;
$color-text-dark-brown: #8c7e78;
$color-text-light: #868686;
$color-background-light: #f2f0ef;
$color-background-dark: #a6968f;
$color-background-darker: #6e5c53;
$color-background-gray: #eae8e7;
$color-border-light: #cac3c0;
$color-border-lighter: #f0f0f0;
$color-border-dark: #afa8a6;
$color-gray: #a8a29f;

/* Typography */
$font-size-xl: 18px;
$font-size-lg: 16px;
$font-size-reg: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;

$font-family-serif: 'Merriweather', serif;
$font-family-sans: 'Montseratt', Helvetica, serif;
