.part-of-the-family {
    @media (min-width: $screen-md-min) {
        display: flex;
        align-items: center;
        .content-block {
            width: 50%;
        }
        .about-image-wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            img {
                max-width: 100%;
            }
        }
    }
}

.our-history {
    padding-bottom: 50px;
    padding-top: 25px;
    @media (max-width: $screen-sm-max) {
    	padding-bottom: 0;
    }
    .about-image-wrapper {
        overflow: hidden;
        margin-top: 25px;
        position: relative;
        @media (max-width: $screen-sm-max) {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            width: auto;
            direction: rtl;
            img {
            	max-width: 100%;
            	margin-bottom: -10%;
            	margin-top: -10%;
            }
        }
        img {
            max-height: 100%;
            @media (min-width: $screen-md-min) {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
            }
        }
    }
}

.the-process {
    @media (max-width: $screen-sm-max) {
        display: flex;
        flex-direction: column;
        .image-half {
            order: -1;
            background-position: 50% 50%;
        }
    }
}

.the-loom {
    @media (max-width: $screen-sm-max) {
        display: flex;
        flex-direction: column;
        .image-half {
            order: 2;
            background-position: 50% 50%;
        }
    }
}

.team-member {
    margin-bottom: 40px;
}

.team-member__photo {
    img {
        max-width: 100%;
        margin: auto;
    }
}

.team-member__info {
    text-transform: uppercase;
    font-family: $font-family-sans;
    letter-spacing: 2px;
    padding-top: 30px;
}

.team-member__name {
    font-size: $font-size-lg;
    font-weight: 700;
}

.team-member__job {
    font-style: italic;
    color: $color-background-dark;
    font-size: $font-size-reg;
}