.browse__category-list {
    display: flex;
    flex-direction: column;
    padding: 75px 0 50px;

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 75px 20px 50px;

    }
}
.browse__category {
    height: 150px;
    margin-bottom: 35px;
    color: white;
    transition: all .5s;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;

    h2 {
        background: rgb(40,40,40);
        padding: 5px;
        color: white;
        position: relative;
        z-index: 1;
    }

    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 50% 50%;
        transition: all .5s;
    }
    
    &:hover {
        text-decoration: none;
        .background {
            transform: scale(1.1);
        }
    }

    @media (min-width: $screen-sm-min) {
        width: calc(50% - 25px);
        margin-bottom: 60px;
        height: 250px;

        h2 {
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }
    }

}