/* .products
================================================== */

.products .col-md-10 {
    padding-right: 0px;
}

.products .col-md-10 .no-products-found {
    padding: 0px 15px;
    font-style: italic;
}

@media (max-width: 992px) {
    .products .col-md-10 {
        padding-left: 0px;
    }
}

.products .product {
    margin-bottom: 30px;
    .image-wrap,
    .info {
        transition: .3s;
        transform: none;
    }
    &:hover {
        .image-wrap,
        .info {
            transform: translateY(-2px);
        }
        .info {
            box-shadow: 0px 4px 25px -15px #444444;
        }
    }
}

.products .product a {
    color: $color-text;
    ;
    text-decoration: none;
}

.products .product .image-wrap img {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-bottom: 0px;
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
}

.products .product .image-wrap {
    position: relative;
}

.products .product .image-wrap .sale-new {
    position: absolute;
    background-color: #414141;
    padding: 5px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    top: 15px;
    left: 15px;
    z-index: 1;
    text-transform: uppercase;
    color: white;
}

.sale-new.right {
    right: 15px;
    left: inherit !important;
}

.products .product .image-wrap .description {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgb(65, 65, 65);
    background-color: rgba(65, 65, 65, 0);
    height: 0px;
    overflow: hidden;
    color: #f7f7f7;
    font-size: 12px;
    -moz-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    z-index: 2;
    line-height: 20px;
}

.products .product .image-wrap .description .text {
    overflow: hidden;
    padding: 0px 10px;
}

.products .product .image-wrap .description .stars {
    margin-bottom: 3px;
}

.products .product .image-wrap:hover .description {
    height: 100%;
    background-color: rgba(65, 65, 65, 0.8);
    padding: 20px;
}

.products .product .info {
    padding: 11px 15px 15px 15px;
    border: 1px solid #e5e5e5;
    min-height: 88px;
}

.products .product .info .title {
    text-decoration: none;
    color: #414141;
    font-weight: 600;
    line-height: 20px;
    display: block;
    overflow: hidden;
}

.products .product .info .old-price {
    text-decoration: line-through;
    color: #797979;
    font-size: 12px;
}

.products .product .info.strict {
    height: auto;
    overflow: auto;
}

.products .product .info.strict .unit-price {
    display: block;
    clear: both;
}

@media (max-width: 1025px) {
    .products .product .image-wrap .description {
        display: none;
    }
    .products .product .image-wrap .description .text {
        padding: 0px;
    }
}


/* .sidebar
================================================== */

.sidebar {
    color: #797979;
    margin-bottom: 20px;
}

.sort {
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.sidebar strong {
    display: block;
    padding-top: 10px;
}


/* .price-filter */

.price-filter {
    padding-bottom: 40px;
}

.price-filter-range {
    font-size: 10px;
}

#collection-filter-price {
    height: 12px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 3px 4px 8px 8px;
    position: relative;
}

#collection-filter-price .ui-slider-range {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    margin: -1px 0 0 -1px;
    position: absolute;
    height: 12px;
}

#collection-filter-price .ui-slider-handle {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 0;
    top: -3px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-left: -10px;
    cursor: col-resize;
    border: 1px solid #ccc;
    background-color: white;
    outline: none;
}

.price-filter-range .min {
    float: left;
}

.price-filter-range .max {
    float: right;
}


/* select */

.sidebar select {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
}


/* nav */

.sidebar .item {
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
    padding: 0px 0px 10px 0px;
}

.sidebar .item .itemLink {
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
}

.sidebar .item .itemLink,
.sidebar .item .subitemLink {
    color: #797979;
    text-decoration: none;
}

.sidebar .item .itemLink:hover,
.sidebar .item .subitemLink:hover {
    color: #414141;
}

.sidebar .item .active,
.sidebar .item .active:hover {
    color: #54afe9;
}

.sidebar .item > .subnav {
    margin: 0.1em 0 0.1em 1em;
    font-size: 90%;
}

.sidebar .item .subnav .subnav {
    margin: 5px 0px 5px 10px;
}

@media (max-width: 992px) {
    .sort {
        padding-bottom: 0px;
        border-bottom: 0px;
    }
    .price-filter {
        display: none;
    }
    .sidebar {
        margin-bottom: 30px;
        margin-top: -15px;
    }
    .sidebar .item {
        display: none;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .sidebar .item.active {
        display: block;
    }
    .sidebar .item .itemLink {
        margin-top: 5px;
    }
}

@media (max-width: 767px) {
    .sidebar .item {
        border-bottom: 0px;
    }
    .sidebar {
        border-bottom: 1px solid #f0f0f0;
    }
}


/* .pager
================================================== */

.pager {
    font-size: 12px;
    color: #797979;
    margin: 0px;
    padding-top: 0px;
}

.pager .left {
    font-size: 12px;
}

.pager ul {
    border: 1px solid #e5e5e5;
}

.pager ul li {
    display: inline;
}

.pager ul li a {
    color: #797979;
    float: left;
    padding: 5px 13px;
    line-height: 20px;
    text-decoration: none;
    border-right: 1px solid #f0f0f0;
}

.pager ul li a:hover {
    color: #414141;
}

.pager ul li a .glyphicon {
    font-size: 10px;
    line-height: 18px;
}

.pager ul li:last-child a {
    border-right: 0px;
}

.pager ul li.active a {
    background-color: #f7f7f7;
}

.pager ul li.prev a {
    border-left-width: 1px;
}

.pager ul li.disabled {
    display: none;
}
