.sub-menu-item-content {
    background: #f2f0ef;
    border-bottom: 2px solid #a6968f;
    text-align: center;
    li {
        display: inline-block;
        border-right: 1px solid #a6968f;
        border-left: 1px solid #a6968f;
        width: 330px;
        cursor: pointer;
        &:nth-child(2) {
            border: 0px;
            margin: 0 -4.5px 0 -4px;
        }
        &:hover {
            background: $color-background-dark;
            width: 330px;
            box-shadow: 0px 0px 1px #dacbca;
            border: 0px;
            a,
            a span {
                color: white;
            }
        }
    }
    ul {
        list-style: none;
        margin: 0px auto;
        padding: 0px;
        display: block;
    }
    a {
        font-size: 24.76px;
        color: #8c7e78;
        text-decoration: none;
        letter-spacing: 3px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        padding: 32px 30px 30px;
        display: block;
        span {
            display: block;
            font-family: "Merriweather", serif;
            font-size: 15.24px;
            color: #a6968f;
            font-style: italic;
            letter-spacing: 2px;
            font-weight: 400;
            padding-top: 5px;
        }
    }
}

@media only screen and (max-width: $screen-sm-max) {
    .sub-menu-item-content li {
        width: 240px;
        &:hover {
            width: 240px;
        }
    }
    .sub-menu-item-content a {
        padding: 25px 5px;
        span {
            font-size: 13px;
        }
    }
}


.see-us h2:after {
    background: #fff9e2;
}

.mod-contact {
    display: flex;
    .item {
        width: 50%;
    }
    .menu-location {
        ul {
            paddign: 0;
            margin: 0;
        }
        li {
            list-style: none;
            width: 50%;
            float: left;
            background: $color-background-gray;
            line-height: 20px;
            padding: 20px 0px;
            text-align: center;
            position: relative;
            cursor: pointer;
            &.active,
            &:hover {
                background: #fff;
                a {
                    color: $color-text-brown;
                }
            }
            &:first-child {
                border-right: 2px solid $color-border-dark;
            }
        }
        a {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            color: $color-gray;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            text-decoration: none;
            letter-spacing: 2px;
            background: none;
            background-image: none;
            background-color: transparent !important;
            border: 0px !important;
        }
    }
    .address {
        max-width: 600px;
        padding: 0 20px 0;
        align-items: center;
        height: 100%;
        color: $color-text-light;
        font-family: $font-family-serif;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        h3 {
            font-size: 18px;
            color: #373737;
            font-weight: 700;
            font-style: normal;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }
        p {
            margin: 0;
            line-height: 2.5;
            a,
            a:hover {
                color: $color-text-light;
                display: inline-block;
            }
        }
        hr {
            border-color: $color-text-brown;
            margin: 20px 0;
        }
    }
}

#map-canvas {
    width: 100%;
    height: 50vw;
    max-height: 400px;
    min-height: 200px;
}

@media (max-width: $screen-sm-max) {
    .mod-contact {
        .item {
            width: auto;
            &:first-child {
                flex-grow: 1;
            }
        }
        .address {
            flex-direction: column;
            padding-bottom: 25px;
            padding-top: 25px;
            justify-content: space-around;
            align-items: flex-start;
            h3 {
                margin-bottom: 10px;
            }
            p {
                margin: 0;
                line-height: 1.5
            }
            hr {
                margin: 10px 0;
                max-width: 190px;
            }
        }
        .item-location:first-child {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .mod-contact {
      display: block;
        .address {
            flex-direction: row;
        }
    }
}

@media (max-width: $screen-mobile-max) {
  .mod-contact {
        .address {
            display: block;
            padding-bottom: 25px;
        }
    }
}
