.banner-marketing {
    text-align: center;
    padding: 5px;
    background: #008EA7;
    color: white;
    font-weight: 600;
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: none;
    position: relative;
    //#008993
    //#e04a6e
    &.is-visible {
    	display: block;
    }
}

.banner-marketing__title {
    font-size: $font-size-lg;
}

.banner-marketing__sub-title {
    font-size: $font-size-sm;
}

.marketing-modal__wrapper {
    position: fixed;
    z-index: 10;
    right: -100%;
    width: 0;
    height: 0;
    visibity: hidden;
}

.show-marketing-modal {
	.marketing-modal__wrapper {
		right: 0;
	    width: 100vw;
	    top: 0;
	    height: 100vh;
	    visibity: hidden;
	}
	.marketing-modal {
		opacity: 1;
	}
}

.show-marketing-modal > :not(#marketingModal) {
    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    filter: blur(2.5px);
    transition: .2s -webkit-filter linear;
    transition: .2s filter linear;
    transition: .2s filter linear, .2s -webkit-filter linear;
    -webkit-transition: .2s -webkit-filter linear;
    -moz-transition: .2s -moz-filter linear;
    -ms-transition: .2s -ms-filter linear;
    -o-transition: .2s -o-filter linear;
}

.marketing-modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #aaa;
    opacity: .6;
}

.marketing-modal {
    position: absolute;
    width: calc(100% - 20px);
    background: white;
    max-width: 500px;
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid #999;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity .4s;
}

.marketing-modal__title {
    font-size: $font-size-lg;
    font-weight: 500;
    margin-bottom: 10px;
}

.marketing-modal--details {
    margin-bottom: 10px;
}

.marketing-modal--sub-details {
    font-size: $font-size-sm;
}

.marketing-modal__close {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
}

.marketing-modal__action {
    text-align: center;
    margin-top: 20px;
    .button.button--big {
        background: $color-primary;
        border-color: $color-primary;
        &:hover {
            border-color: $color-background-dark;
            background: $color-background-dark;
        }
    }
}

@media (min-width: $screen-sm-min) {
	.marketing-modal {
		top: 100px;
	}

	.marketing-modal__title {
		font-size: 24px;
	}
}
