
/* Product page
================================================== */
.product-wrap {
  padding-top: 20px;
}
/* .zoombox */
.zoombox .images {
  position: relative;
  display: block;
}
.zoombox .images a {
  display: none;
  cursor: pointer;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  overflow: hidden;
}
.zoombox .images a.first {
  display: block;
}
.zoombox .images a img, .zoombox .thumbs a img {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}
.zoombox .images a img.zoomImg {
  max-height: none;
}
.zoom a {
  text-decoration: none;
}
.zoombox .thumbs a  {
  display: block;
  cursor: pointer;
  margin-bottom: 30px
}
@media (max-width: 767px) {
  .zoombox .images {
    max-width: 358px;
  }
}
.product-info .row {
  clear: both;
  margin-right: 0px;
}

/* .product-option */
.product-info .product-option {
  border-top: 1px solid #f0f0f0;
  padding-bottom: 15px;
}
.product-configure .product-configure-options-option,
.product-configure .product-configure-variants,
.product-configure .product-configure-custom-option {
  float: left;
  width: 100%;
  margin: 0px 15px 15px 0px;
}
.product-configure-custom,
.product-configure-variants,
.product-configure-options {
  clear: both;
}
@media (max-width: 992px) { 
  .product-configure .product-configure-options-option,
  .product-configure .product-configure-variants,
  .product-configure .product-configure-custom-option {
    width: 100%;
  }
}

/* .product-price */
.product-info .product-price {
  padding-bottom: 30px;
  border-top: 1px solid #f0f0f0;
  .price-wrap {
    line-height: 40px;
  }
}
.product-info .product-price .old-price {
  text-decoration: line-through;
  color: #797979;
}
.product-info .product-price .price {
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  vertical-align: middle;
}

/* quantity */
.product-info .product-price .cart {
  float: right;
  line-height: 0px;
}
.product-info .product-price .cart input {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  float: left;
  padding: 8px 5px;
}
.product-info .product-price .cart .change {
  float: left;
  width: 16px;
  height: 40px;
  background-color: #f7f7f7;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-left: 0px;
}
.product-info .product-price .cart .change a {
  color: #797979;
  display: block;
  width: 16px;
  height: 18px;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
}
.product-info .product-price .cart .change a:hover {
  color: #414141;
}
@media (max-width: 480px) {
  .product-info .product-price .price {
    line-height: 24px;
  }
  .product-info .price-wrap, .product-info .product-price .cart {
    float: none;
    width: 100%;
  }
  .product-info .product-price .cart {
    margin-top: 15px;
  }
}

.product .description .text {
  line-height: 2;
  p {
    margin: 0;
  }
}
