.banner-title {
    padding-top: 0;
}

.mod-banner {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    text-align: center;
    margin-top: -1px;
    .button {
        border-width: 4px;
    }
}

.mod-banner .banner-item {
    background-size: cover;
    height: 66vh;
    max-height: 450px;
    min-height: 370px;
}

.mod-banner .slick-prev,
.mod-banner .slick-next {
    z-index: 2;
    &:before {
        display: block;
        content: "";
        height: 20px;
        width: 20px;
        border-left: 4px solid white;
        border-bottom: 4px solid white;
        box-sizing: content-box;
        z-index: 1;
    }
    &:hover,
    &:active,
    &:focus {
        border: none;
    }
}

.mod-banner .slick-prev {
    left: 25px;
    &:before {
        transform: rotate(45deg);
    }
}

.mod-banner .slick-next {
    right: 25px;
    &:before {
        transform: rotate(225deg);
    }
}

.mod-banner .slick-dots {
    bottom: 20px;
    li {
        button:before {
            font-size: 45px;
            color: $color-background-darker;
            opacity: 1;
        }
        &.slick-active button:before {
            color: white;
        }
    }
}

.mod-banner h1,
.mod-banner h2 {
    text-transform: uppercase;
    position: relative;
    font-size: 45px;
    color: white;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 50px;
    letter-spacing: 4;
    &:after {
        content: "";
        bottom: -15px;
        position: absolute;
        left: 50%;
        margin-left: -94px;
        width: 187px;
        height: 4px;
        background: #fff;
    }
}

.mod-banner h2 {
    font-size: 36px;
}

.mod-banner .wrap-content {
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 36px;
    font-family: $font-family-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    p {
        margin: 0 auto 50px auto;
        width: calc(100% - 90px);
        max-width: 750px;
        font-weight: bold;
        &:last-child {
            margin-bottom: 20px;
        }
    }
}

.thin-banner .banner-item {
    height: 33vh;
    max-height: 300px;
    min-height: 200px;
    background-position: 50% 50%;
    &.image-bottom {
        background-position: 50% 100%;
    }
    h1,
    h2 {
        margin-bottom: 20px;
    }
}

.banner-internal {
    .banner-item {
        text-align: left;
        h1 {
            font-size: 45px;
            text-align: left;
            margin-left: 15vw;
            display: inline-block;
            @media (max-width: $screen-xs-max) {
                margin-left: 0;
                font-size: 35px;
            }
            @media (max-width: $screen-mobile-max) {
                width: 100%;
                text-align: center;
                font-size: 30px;
            }
            &:after {
                background: $color-primary;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .mod-banner .banner-item {
        height: 75vh;
        max-height: none;
        min-height: 370px;
    }
    .thin-banner .banner-item {
        height: 33vh;
        max-height: 300px;
        min-height: 200px;
    }
    .mod-banner h1 {
        font-size: 36px;
        margin-bottom: 40px;
    }
    .mod-banner h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }
    .mod-banner .wrap-content {
        padding: 0 30px;
        font-size: 16px;
        p {
            width: auto;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
    .mod-banner .slick-prev,
    .mod-banner .slick-next {
        &:before {
            height: 15px;
            width: 15px;
        }
    }
    .mod-banner .slick-prev {
        left: 10px;
    }
    .mod-banner .slick-next {
        right: 10px;
    }
}

@media (max-width: $screen-mobile-max) {
    .mod-banner .banner-item {
        height: calc(100vh - 70px);
        max-height: none;
        min-height: 370px;
    }
    .thin-banner .banner-item {
        height: 25vh;
        max-height: 300px;
        min-height: 175px;
    }
    .mod-banner h1,
    .mod-banner h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .mod-banner h2 {
        font-size: 24px;
    }
    .mod-banner .wrap-content {
        padding: 0 30px;
        font-size: 14px;
        min-height: p {
            margin-bottom: 15px;
        }
    }
}
